.productSquare{
    display:inline-block;
    background-color: aqua;    
    padding-bottom:10%;        
    padding-left:3%;
    padding-right:3%;
    margin-right:10px;
    margin-bottom:10px;    
}

.productHolder{
    display: inline;        
    margin-left:50px;  
    padding-left:2%;
    padding-right:2%;
    display: flex;
    flex-wrap: wrap;
}